* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  height: 100vh;
}
a {
  text-decoration: none;
  color: unset;
}
ul,
ol {
  list-style-type: none;
  display: flex;
}
button {
  background: none;
  border: none;
}

.header-wrapper {
  height: 754px;
  background-image: url(header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px 20px 84px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bars {
  display: none;
}

.mainHeaderUl {
  column-gap: 40px;
  color: #000;

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 201px;
}

.login {
  size: 1.4rem;
  color: white;
  text-align: center;
  line-height: 20px;
  background-color: #f84646;
  border-radius: 5px;
  gap: 10px;
  width: 78px;
  height: 40px;
  padding: 10px 20px 10px 20px;
}

.headerText {
  width: 665px;
  height: 310px;
  margin: 200px 653px 271px 122px;
}

.header1 {
  color: #000;

  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 82px;
  margin-bottom: 121px;
}

.paragraph1 {
  color: #000;

  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.section1 {
  width: 1440px;
  height: 700px;
  margin: auto;
  margin-top: 120px;
}

.section1div1h2 {
  color: #000;

  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section1_box {
  margin: auto;
}

.paragraph {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.5px;
  letter-spacing: 0.2px;
  margin-top: 30px;
}

.section1_first_box,
.section1_second_box {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.box1 {
  flex-direction: column;
}

.box1 {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 215px;
}

img {
  width: 76px;
  height: 76px;
  margin: auto;
}

.mainspan1 {
  color: #000;

  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.mainparagraph1 {
  color: #000;

  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.section2 {
  width: 1440px;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 150px;
 

}

.section2_first_div,
.section2_second_div {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.section2IMG {
  width: 504px;
  height: 480px;
}

.section2_h2 {
  color: var(--text-title, #2e2e2e);
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
}

.section2_p {
  color: var(--text-body, #808080);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 116px;
  margin-bottom: 80px;
}

.section2_button {
  display: flex;
  width: 160px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f84646;
  color: #fff;

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

footer {
  width: 1440px;
  height: 536px;
  display: flex;
  justify-content: space-around;
  background-color: #f66767;
  margin-top: 150px ;

 
}

.footer_div {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
 

}

.footer_div{
  flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.bold {
  color: var(--text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.letter {
  color: var(--text-disable, #e6e6e6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  gap: 100px;

}

